@charset "UTF-8";

body, .bg-black{
    background-color: black;
}
.bg-cine{
    background-color: #e53319 ;
}
.bg-cinza{
    background-color: #bbb;
}
nav ul a{
    text-decoration: none;
}
p, strong, figcaption{
    font-family: "trebuchet ms", sans-serif;
}
.card-body{
    padding: 10px;
}
tr td#C-10, .color-blue{
    color: blue;
}
tr td#C-12{
    color: yellow;
}
tr td#C-14{
    color: orange;
}
tr td#C-16, .color-red{
    color: red;
}
tr td#C-L{
    color: lime;
}
.text-underline{
    text-decoration: underline;   
}
.card_header, header, #main_img{
    width: 100%;
}